[Desktop Entry]
Exec=firefox -P Dev --new-tab https://calendar.notion.so/
Encoding=UTF-8
Version=1.0
Icon=calendar
Type=Application
Terminal=false
NoDisplay=false
Name=Calendar-Notion
Comment=Interface para o Notion Calendar
