[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=firefox --ProfileManager %u
Icon=firefox
Name=Firefox
Comment=Custom definition for Firefox
