[Desktop Entry]
Exec=firefox -P UFSC --new-tab https://chatgpt.com/
Encoding=UTF-8
Version=1.0
Icon=gpt
Type=Application
NoDisplay=false
Name=GPT
Comment=Interface para o Chat GPT
