[Desktop Entry]
Exec=firefox -P Main --new-tab https://www.notion.so/
Encoding=UTF-8
Version=1.0
Icon=notion
Type=Application
NoDisplay=false
Name=Notion
Comment=Interface para o Notion
