alias list='cat ~/.aliases'
alias upd='yay -Suy --noconfirm && rustup update && sudo pacman -Qdtq | sudo xargs -r pacman -Rns --noconfirm'
alias get_music='yt-dlp --format bestaudio --extract-audio --audio-format mp3 --audio-quality 192K --extract-thumbnail --output "%(title)s.%(ext)s"'
alias edit='cosmic-edit'
alias set-ssh='ssh-add -q ~/.ssh/id_rsa'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias cp='uu-cp -rf'
alias rm='uu-rm -rf'
alias mv='uu-mv -f'
alias pwd='uu-pwd'
alias ls='uu-ls --color=auto'
alias head='uu-head'
alias chown='uu-chown'
alias chmod='uu-chmod'
alias touch='uu-touch'
alias cat='uu-cat'
alias echo='uu-echo'
alias whoami='uu-whoami'
alias mkdir='uu-mkdir -p'
alias date='uu-date'
alias dd='uu-dd'
alias hostname='uu-hostname'
alias kill='uu-kill'