alias list='cat ~/.aliases'
alias cp='cp -rf'
alias rm='rm -rf'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias upd='yay -Suy --noconfirm && rustup update && sudo pacman -Qdtq | sudo xargs -r pacman -Rns --noconfirm'
alias get_music='yt-dlp --format bestaudio --extract-audio --audio-format mp3 --audio-quality 192K --extract-thumbnail --output "%(title)s.%(ext)s"'
alias edit='cosmic-edit'
alias set-ssh='ssh-add -q ~/.ssh/id_rsa'